/* Style Variables */
:root {
  --white: #fff;
  --black: #000;
  --blue: #2476FF;
  --green: #01C9A7;
  --blue-hover: #669cfa;
  --font-color-base: #677788;
  --font-color-alt: #5F6368;
  --font-color-light: #9EA7B4;
  --font-color-placeholder: #ECF2FF;
  --bg-contrast: #F8FAFE;
  --bg-form: #20335B;

  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

/* Default Styles */
* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color-base);
}

h2 {
  font-size: var(--size-30);
  font-weight: 600;
  line-height: 1.2;
  color: var(--black);
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

input,
textarea,
select {
  background-color: transparent;
  border: 1px solid var(--font-color-light);
  border-radius: var(--size-8);
  padding: var(--size-10) var(--size-12);
  font-size: var(--size-14);
  font-family: 'Inter', sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--blue);
}

input[type='checkbox'] {
  width: var(--size-30);
  height: var(--size-30);
  border: 1px solid var(--font-color-light);
  border-radius: var(--size-8);
  background-color: var(--bg-form);
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: var(--size-30);
  padding-right: var(--size-30);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: var(--size-16) var(--size-30);
  border: 1px solid transparent;
  transition: ease-in-out 0.3s;
  border-radius: var(--size-30);
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--blue-hover);
  color: var(--white);
}

.btn-secondary:hover {
  background-color: var(--font-color-light);
  color: var(--white);
}




/* Min Width Media Queries */
@media (min-width: 768px) {

}
   

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
