/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding: var(--size-10) var(--size-30);
  transition: ease-in-out 0.3s;
}

.navbar.sticky {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: none;
}

.navbar-toggler span {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  width: var(--size-150);
  transition: ease-in-out 0.3s;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link a {
  margin-right: var(--size-20);
  line-height: 20px;
  transition: ease-in-out 0.3s;
}

.navbar-nav .btn {
  margin-left: var(--size-10);
}

.nav-link a:hover {
  color: var(--blue);
}

/* Hero Left*/
.bg-hero {
  background-image: url(../assets/banners/header-background.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-hero .container {
  padding-top: var(--size-150);
  padding-bottom: var(--size-150);
  display: flex;
  justify-content: space-between;
}

.hero-left {
  /* max-width: 50%; */
  padding: 0 var(--size-30);
}

.hero-left h2 {
  font-size: var(--size-50);
  margin-bottom: var(--size-10);
}

.hero-left p {
  font-size: var(--size-16);
}

.hero-buttons {
  margin-top: var(--size-30);
  font-size: var(--size-16);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

 .btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--size-20);
  font-size: var(--size-16);
}

.btn.btn-primary i {
  font-size: var(--size-20);
  margin-right: var(--size-10);
}

.hero-buttons a {
  color: var(--blue);
}

/* Hero Right */
.hero-right {
  max-width: 50%;
  display: flex;
  position: relative;
}

.hero-right .icon {
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.3);
}

.hero-right .icon-sm{
  width: var(--size-60);
  height: var(--size-60);
  padding: var(--size-10);
}

.hero-right .icon-lg {
  width: var(--size-80);
  height: var(--size-80);
  padding: var(--size-16);
}

.icon-1 {
  top: 1rem;
  right: 21rem;
}

.icon-2 {
  top: 1rem;
  right: 13rem;
}

.icon-3 {
  top: 1rem;
  right: 3rem;
}

.icon-4 {
  top: 11rem;
  right: 21.2rem;
}

.icon-5 {
  top: 11rem;
  right: 8rem;
}

.icon-6 {
  top: 18rem;
  right: 13rem;
}

.icon-7 {
  top: 21rem;
  right: 3rem;
}

/* Key Benefits */

.benefits-text {
  margin: var(--size-80) 0;
  text-align: center;
}

.benefits-text p {
  font-size: var(--size-16);
}

/* Card Grid */
.benefits-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  gap: var(--size-14);
  margin-bottom: var(--size-150);
}

.benefits-card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: var(--size-8);
  padding: var(--size-16);
}

.benefits-img {
  width: var(--size-60);
  height: var(--size-60);
  margin-top: var(--size-10);
}

.card-content h3 {
  color: var(--black);
  font-size: var(--size-18);
  padding: var(--size-18) 0;
}

.card-content p {
  margin-bottom: var(--size-16);
}

.card-content a {
  color: var(--blue);
  font-size: var(--size-16);
  font-weight: 700;
}

.premium {
  display: flex;
  align-items: center;
}

.premium span {
  font-size: var(--size-14);
  font-weight: 600;
  background-color: var(--green);
  color: var(--white);
  padding: .2rem .8rem;
  border-radius: var(--size-20);
  margin-left: var(--size-10);
}

/* Video Demo */
.bg-contrast {
  background-color: var(--bg-contrast);
  padding-top: var(--size-100);
}

.video-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.video-left {
  padding: 0 var(--size-30);
  align-self: center;
}

.video-left .btn {
  margin-top: var(--size-30);
}

.video-demo .container {
  padding-right: 0;
}
