/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding: var(--size-10) var(--size-30);
  transition: ease-in-out 0.3s;
}

.navbar.sticky {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: none;
}

.navbar-toggler span {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  width: var(--size-150);
  transition: ease-in-out 0.3s;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link a {
  margin-right: var(--size-20);
  line-height: 20px;
  transition: ease-in-out 0.3s;
}

.navbar-nav .btn {
  margin-left: var(--size-10);
}

.nav-link a:hover {
  color: var(--blue);
}

/* Hero Left*/
.bg-hero {
  background-image: url(../assets/banners/header-background.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-hero .container{
  padding-top: var(--size-150);
  padding-bottom: var(--size-150);
  display: flex;
  justify-content: space-between;
}

.hero-left {
  padding: 0 var(--size-30);
}

.hero-left h2 {
  font-size: var(--size-50);
  margin-bottom: var(--size-10);
}

.hero-left p {
  font-size: var(--size-16);
}

.hero-buttons {
  margin-top: var(--size-30);
  font-size: var(--size-16);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

 .btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--size-20);
  font-size: var(--size-16);
}

.btn.btn-primary i {
  font-size: var(--size-20);
  margin-right: var(--size-10);
}

.hero-buttons a {
  color: var(--blue);
}

/* Hero Right */
.hero-right {
  max-width: 50%;
  display: flex;
  position: relative;
}

.hero-right .icon {
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.3);
}

.hero-right .icon-sm{
  width: var(--size-60);
  height: var(--size-60);
  padding: var(--size-10);
}

.hero-right .icon-lg {
  width: var(--size-80);
  height: var(--size-80);
  padding: var(--size-16);
}

/* Icon Animation */
@keyframes icon-animation {
  0% {
    transform: translateY(var(--size-100));
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
  }
}

/* Icon Positioning */
.icon-1 {
  top: 1rem;
  right: 21rem;
  animation: icon-animation 1.5s;
}

.icon-2 {
  top: 1rem;
  right: 13rem;
  animation: icon-animation 1.2s;
}

.icon-3 {
  top: 1rem;
  right: 3rem;
  animation: icon-animation 1s;
}

.icon-4 {
  top: 11rem;
  right: 21.2rem;
  animation: icon-animation 1.7s;
}

.icon-5 {
  top: 11rem;
  right: 8rem;
  animation: icon-animation 1.3s;
}

.icon-6 {
  top: 18rem;
  right: 13rem;
  animation: icon-animation 1.15s;
}

.icon-7 {
  top: 21rem;
  right: 3rem;
  animation: icon-animation 1.6s;
}

/* Key Benefits Styling */
.benefits-text {
  margin: var(--size-80) 0;
  text-align: center;
}

.benefits-text p {
  font-size: var(--size-16);
}

/* Card Grid Styling*/
.benefits-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  gap: var(--size-14);
  margin-bottom: var(--size-150);
}

.benefits-card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: var(--size-8);
  padding: var(--size-16);
}

.benefits-img {
  width: var(--size-60);
  height: var(--size-60);
  margin-top: var(--size-10);
}

.card-content h3 {
  color: var(--black);
  font-size: var(--size-18);
  padding: var(--size-18) 0;
}

.card-content p {
  margin-bottom: var(--size-16);
}

.card-content a {
  color: var(--blue);
  font-size: var(--size-16);
  font-weight: 700;
}

.premium {
  display: flex;
  align-items: center;
}

.premium span {
  font-size: var(--size-14);
  font-weight: 600;
  background-color: var(--green);
  color: var(--white);
  padding: .2rem .8rem;
  border-radius: var(--size-20);
  margin-left: var(--size-10);
}

/* Video Demo Styling */
.bg-contrast {
  background-color: var(--bg-contrast);
  padding-top: var(--size-100);
}

.video-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.video-left {
  padding: 0 var(--size-30);
  align-self: center;
}

.video-left .btn {
  margin-top: var(--size-30);
}

.video-demo .container {
  padding-right: 0;
}

/* Why Front Styling */
.why-front {
  padding-top: var(--size-100);
}

.why-header {
  text-align: center;
  max-width: 32.5rem;
  margin: auto;
}

.why-header h2 {
  margin-bottom: var(--size-14);
}

/* Why Front Bubble Styling */
.why-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--size-80) var(--size-100);
}

.why-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
}

.why-item-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  margin-bottom: var(--size-20);
}

.why-bubble-outer {
  background-color: var(--font-color-placeholder);
  width: var(--size-50);
  height: var(--size-50);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.why-bubble-inner {
  width: var(--size-8);
  height: var(--size-8);
  border-radius: 50%;
  background-color: var(--blue);
}

.why-line {
  flex: none;
  width: 100%;
  height: 2px;
  background-color: var(--font-color-placeholder);
  flex-grow: 1;
  z-index: -1;
}

.hide {
  background-color: transparent;
}

.why-item-bottom p{
  color: var(--black);
  font-weight: 500;
}

/* Video Player Styling */

.video-player {
  position: relative;
  padding: var(--size-100) var(--size-30);
}

.play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-btn{
  width: var(--size-80);
  height: var(--size-80);
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-btn i {
  font-size: var(--size-30);
  color: var(--black);
}

/* Spotlight Styling */
.spotlight {
  padding: 0 var(--size-30);
  padding-bottom: var(--size-100);
}

.spotlight-wrapper {
  display: flex;

}

.spotlight-left {
  flex: none;
  align-items: center;
  width: 22.5rem;
  height: 24.7rem;
}

.picture-wrapper {
  position: relative;
}

.dots {
  position: absolute;
  width: 10rem;
  top: var(--size-100);
}

.profile {
  position: absolute;
  top: 0;
  left: var(--size-40);
  width: 20rem;
  z-index: 2;
}

.ghost{
  visibility: hidden;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

.spotlight-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--size-40);
  height: 24.7rem;
  align-self: stretch;
}

.hubspot-logo {
  width: var(--size-100);
}

.spotlight-right h3 {
  color: var(--black);
  margin-top: var(--size-40);
}

/* Trusted Brands Styling */
.trusted-brands {
  padding: 0 var(--size-30);
  padding-bottom: var(--size-100);
  text-align: center;
}

.trusted-brands h3 {
  color: var(--font-color-dark);
  text-transform: uppercase;
  font-size: var(--size-18);
  margin-bottom: var(--size-30);
}

.brand-grid-wrapper {
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  width: var(--size-100);
}